<br />
<div class = "container">
    <img src="~/images/images.png" alt="Àrea de Administração" class="marginLeft1" />
</div>
<br />
<br />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Acesso não autorizado</h2>
        </p>
    </div>
    
    <div class="form-group">
        <a type="button" class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
    </div>
</div>


